<!DOCTYPE html>
<html>

<head>
    <title>Trip Planner</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <link href="/stylesheets/tripplanner.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" id="tripplan" href="#">TRIP PLANNER</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid text-center">
        <div class="row content">
            <div class="col-lg-8 text-left map">
                <div id="map-canvas">
                </div>
                <hr>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 sidenav places">
                <h3>Hotels Restaurants Attractions</h3>
                <div class="places">
                    {% block content %} {% endblock %}
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 sidenav planner">
             <h3>Planner</h3>
                <div class="planner">
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAAenCdbTjJBWmEuI7lgDPseoGh1KvRBLI&sensor=true"></script>
<script src="/map.js"></script>

</html>
