.navbar {
  background-color: #ffc664;
  margin-bottom: 0px; }

.container-fluid {
  margin: 0px; }

.clearfix {
  clear: both; }

.map {
  margin: 0px;
  padding: 0px; }

#map-canvas {
  height: 60em;
  width: 100%;
  float: left; }

.places {
  padding: 2em;
  background-color: #72abff; }

.place > select {
  width: 20em; }

.planner {
  padding: 2em;
  background-color: #ff9664; }

.sidenav {
  height: 30em; }

#tripplan {
  color: black; }

a.navbar-brand {
  color: black; }

.place {
  height: 6em; }

.navbar-inverse .navbar-nav > li > a {
  color: black; }
