{% extends "layout.html" %}

{% block content %}
<select id="hotel-select">
  {% for hotel in hotels %}
    <option value={{hotel.id}}>{{hotel.name}}</option>
  {% endfor %}
</select>

<select id="restaurant-select">
  {% for restaurant in restaurants %}
    <option value={{restaurant.id}}>{{restaurant.name}}</option>
  {% endfor %}
</select>

<select id="activity-select">
  {% for activity in activities %}
    <option value={{activity.id}}>{{activity.name}}</option>
  {% endfor %}
</select>
{% endblock %}